.container {
    width: 100%;
    height: 100%;
    background-color: #1e1e1e;
}

.label {
    width: 100%;
    height: 24px;
    COLOR: white;
    padding: 8px;
    font-size: 18px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-family: monospace;
    border-bottom: 2px solid black;
    font-weight: bold;
}

.label[data-lang="tsx"] {
    color: lightblue;
}

.label[data-lang="css"] {
    color: orange;
}

.label[data-lang="html"] {
    color: lightcoral;
}

.editor {
    width: 100%;
    height: calc(100% - 14px);
}